/bin
.bloop
.classpath
/.ensime
/.ensime_lucene
/.idea
/.idea_modules
/.pants.d
.project
.settings
.cache
target
.directory
/.pids
/.pants.workdir.file_lock
/.pants.workdir.file_lock.lock_message
/dist
bazel-*
/.ijwb
